


/* header, main, form, #nominas{
  border: dotted 2px yellow;
}
  */

h1, h2{
  margin: 0;
}

h2{
  font-size: 1rem;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:  #7a0903;
    color: white;
    font-family: roboto, 'sans-serif';
    display: flex;
    justify-content: center;

}

.container{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1em;
    padding: 3em 1em;
    background-color: #bf0603;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px rgb(58, 5, 5);
}


/* HEADER */

header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
}

header img{
    width: 1.1rem;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}

/* MAIN */


main{
  width: 95%;
  display: flex;
  flex-direction: column;
}


form{
   margin-top: 1em ;
   margin-bottom: 1em;
}


.inputs{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 1em;
    background-color: #e93b32;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    text-align: right;
    border: none;
    border-radius: 0.2em;
    padding: 0.4em 0.8em;
}

input:invalid {
    color: #8d0801;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 0.5em 1.5em;
    gap: 1em;

}

button{
    min-width: 80px;
    flex-grow: 1;
    font-family: inherit;
    font-size: 1rem;
    background-color: #8d0801;
    color: white;
    border: none;
    border-radius: 0.2em;
    padding:  0.5em;
}

button:hover, button:active{
  background-color: white;
  color: #7a0903;
  font-weight: bold;
  transition: 300ms;
}

.resultado{
    text-align: center;
    background-color: #e93b32;
    font-family: inherit;
    font-weight: bold;
    border-radius: 0.2em;
    padding: 0.4em;

}


/* NOMINAS GUARDADAS */

#nominas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em ;
}

h2{
  font-size: 1.3rem;
  padding-bottom: 0.5em;
  border-bottom: solid white 1px;
}

.lista{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
    width: 80%;
    padding: 0;
    list-style: none;
}


li{
    margin-bottom: 0.4em;
    font-weight: bold;
    background-color: #d12825;
    border-radius: 0.4em;
    border-bottom: dotted white 1px;
    padding: 0.2em 0.8em;
    text-align: end;
}

.botones-nom{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5em 0.5em 0;
    gap: 1em;
}



@media (min-width:710px){

  h1{
    font-size: 1.5rem;
  }

  h2{
    padding: 0;
  }

  .container{
    max-width: 900px;
    margin-top: 3em;
  }

  header{
    justify-content: start;
  }

  header img{
     margin-left: 2em;
  }

  main{
    flex-direction: row;
    justify-content: center;
    gap: 3em;
  }

  form{
    flex-grow: 1;
    padding-top: 1em;
  }

  #nominas{
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 250px;
  }

  .botones-nom{
    margin: 0 0.5em;
  }

}


